body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  background-color: #DEE5E5;
  color: rgb(0, 0, 0);
  margin: 0px;
}

.navbar {
  background-color: #9DC5BB;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.left-links {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-around;
}
.navbar-link {
  font-size: 19px;
}
.line {
  border-right: 1px solid rgba(0, 0, 0, 0.507);
}
.search {
  background-color: #ffffff90;
  border-radius: 6px;
}
.box {
  padding: 30px;
  background-color: #17B890;
}